<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="server=localhost;database=infoplat-dev;user id=root;password=123456;character set=utf8mb4;" />
    <add name="SQLiteConnection" connectionString="Data Source=sqlite.db;Version=3;" />
    <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orcl)));Persist Security Info=True;User Id=shiny;Password=shiny;" />
    <add name="MSSQLConnection" connectionString="Data Source=10.110.1.230;Initial Catalog=XXPL_Server;User ID=sa;Password=123456;Integrated Security=false;" />
  </connectionStrings>
  <appSettings>
    <!--数据库类型-->
    <!--<add key="DBType" value="oracle"/>-->
    <!--<add key="DBType" value="mssql"/>-->
    <!--<add key="DBType" value="mysql"/>-->
    <!--<add key="DBType" value="sqlite"/>-->
    <add key="DBType" value="mysql" />
  </appSettings>
</configuration>
